<div class="main-container" id="mainContainer" style="position: relative">
  <div class="mode">
    <span class="ng-icon-wb_sunny"></span>
    <mat-slide-toggle
      (change)="changeTheme($event)"
      [checked]="checkedMode"
    ></mat-slide-toggle>
    <span class="ng-icon-nightlight_round"> </span>
    <div class="logo">
      PL<br />
      OY
    </div>
  </div>

  <div class="main-header">
    Portfolio
  </div>
  <div class="main-body">
    <div>
    </div>
    <div class="profile-area">
      <div class="profile-details">
        <div class="profile-picture">
          <div class="cornor-top-left"></div>
          <div class="cornor-top-right"></div>
          <img
            src="assets/images/person-home-page2.jpg"
            width="100%"
            height="100%"
          />
          <div class="cornor-bottom-left"></div>
          <div class="cornor-bottom-right"></div>
        </div>
        <div class="details">
          <div
            style="
              color: #b56d37;
              font-size: 32px;
              line-height: 35px;
              text-align: center;
            "
          >
            Chutikran poprapan
          </div>
          <div style="font-size: 18px; text-align: center">
            Frontend Developer
          </div>
          <div class="about-me">ABOUT ME</div>
          <div style="margin-top: 20px; display: grid; row-gap: 10px">
            <span class="icon-and-text">
              <span class="ng-icon-person"></span>
              <span>Age: 27 </span>
            </span>
            <span class="icon-and-text">
              <span class="ng-icon-location"></span>
              <span>bangkok, Thailand</span>
            </span>
            <span class="icon-and-text">
              <span class="ng-icon-email"></span>
              <span>ploiiz.lullam@gmail.com</span></span
            >
          </div>
        </div>
      </div>
      <div style="display: grid; row-gap: 2em; justify-content: center">
        <div class="profile-education">
          <app-educations></app-educations>
        </div>

        <div class="profile-experiences">
          <app-job-experiences></app-job-experiences>
        </div>
      </div>
    </div>
    <div class="programing-skill">
      <app-programing-skills></app-programing-skills>
    </div>
    <div class="tools-and-framework">
      <div class="card">
        <app-tools></app-tools>
      </div>
      <div class="card">
        <app-framework></app-framework>
      </div>
    </div>
    <div class="memo-area">
      <div class="memo-content">
        <div class="group-text">
          <span>CLICK</span>
          <span>or scan</span>
        </div>
        <div class="group-details">
          <img
            src="assets/images/qrcode_paloylulla.github.io.png"
            class="qr-code"
            (click)="goPage()"
            width="120px"
            height="120px"
          />
          <div style="display: grid;
          column-gap: 2vw;
          grid-template-columns: 1fr 1fr;">
            <a
              class="link"
              *ngFor="let memo of memoList"
              [href]="memo.url"
              target="_blank"
            >
              <img [src]="memo.src" width="40px" height="40px"/>
              <div style="color: #fff">
                {{ memo.label }}
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="memo-space"></div>
    </div>
  </div>
</div>
