<div class="timeline-steps">
    <h1 class="timeline-header">
      <span class="material-icons-outlined header-bg-icon"> work </span>
      JOB EXPERIENCES
    </h1>
    <ul>
      <li *ngFor="let work of works">
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div style="display: grid">
                <h2>{{ work.companyName }}</h2>
                <div class="position">{{ work.position }}</div>
                <div class="working-period">{{ work.date }}</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <br />
          <div style="font-weight: bold">Job description</div>
          <ng-container *ngIf="work.jobDescription">
            <div *ngFor="let detail of work.jobDescription">
              + {{ detail }}
            </div>
          </ng-container>
        </mat-expansion-panel>
      </li>
    </ul>
  </div>