/* You can add global styles to this file, and also import other style files */
@import "assets/styles/icon.scss";
@import "assets/styles/custom-theme.scss";

$primaryColor1: #b56d37;
$bgColor: #dcd8cb;
$bodyBg: #706e68;
$box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

@mixin scale-size {
  transform: scale(1.2);
  transition: transform 0.5s;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -500px 0;
  }
}

@keyframes bar-move {
  0% {
    width: 0%;
    animation-play-state: paused;
  }

  // 100% {
  //   animation-play-state: paused;
  // }
}

html,
body {
  height: 100%;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $bodyBg;
  min-height: 100vh;
  height: 100%;
}

@mixin profile-picture-area {
  background-color: #e4e0d4;
  border: 3px solid #fff;
  position: relative;
  height: 100%;
  .cornor-top-left {
    @include cornor-style();
    top: -10px;
    left: -10px;
  }

  .cornor-top-right {
    @include cornor-style();
    transform: rotate(90deg);
    top: -10px;
    right: -10px;
  }

  .cornor-bottom-left {
    @include cornor-style();
    transform: rotate(-90deg);
    bottom: -10px;
    left: -10px;
  }

  .cornor-bottom-right {
    @include cornor-style();
    transform: rotate(180deg);
    bottom: -10px;
    right: -10px;
  }
}
@mixin cornor-style {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #e4e0d4;
  border-left: 10px solid #fff;
  border-top: 10px solid #fff;
  border-top-left-radius: 10px;
}

.home-page-container {
  display: grid;
  grid-template-areas:
    "home-page-header home-page-header"
    "present-word profile-picture"
    "home-page-footer home-page-footer";
  grid-template-columns: 300px minmax(200px, 300px);
  // grid-template-rows: 1fr 500px 2fr;
  grid-template-rows: 1fr minmax(300px, 500px) 2fr;
  justify-content: center;
  padding: 20px;
  align-content: center;
  height: 100%;
  .home-page-header {
    grid-area: home-page-header;
    display: flex;
    justify-content: flex-end;

    .logo {
      width: 70px;
      height: 70px;
      font-weight: 500;
      border: 2px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }

  .present-word {
    grid-area: present-word;
  }

  .profile-picture {
    grid-area: profile-picture;
    @include profile-picture-area;
  }

  .home-page-footer {
    grid-area: home-page-footer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 1fr 200px;
  height: 100%;
  justify-content: center;
  background-image: url("assets/images/header-bg.png");
  background-attachment: fixed;
  -webkit-background-clip: text;
  background-clip: text;
  animation: slide 20s linear infinite;
  .main-header {
    font-size: clamp(100px, 20vw, 200px);
    // line-height: clamp(100px, 9vw, 200px);
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-items: flex-end;
    background-color: transparent;
    color: transparent;
    text-shadow: 6px 5px 5px #eaeaea45;
  }

  .main-body {
    display: grid;
    grid-template-rows: auto 1fr 500px 500px;
    // background-color: $bgColor;

    .profile-area {
      display: grid;
      justify-content: center;
      background: $bgColor;
      grid-template-columns: repeat(
        auto-fit,
        minmax(350px, 450px) minmax(450px, 1000px)
      );
      // grid-template-columns: repeat(auto-fit, 350px minmax(300px, 1fr));
      // grid-template-rows: 1fr 1fr;
      padding-left: 2em;
      padding-right: 2em;
      .profile-picture {
        @include profile-picture-area;
        background-color: #e4e0d4;
        border: 3px solid #fff;
        position: relative;
        height: 300px;
        width: 250px;
        display: flex;
        margin: auto;
      }

      .profile-details {
        .details {
          margin: 2em 0;
          padding-left: 10px;
          padding-bottom: 2em;
          max-width: 300px;
          margin: 2em auto;
        }
      }

      .profile-experiences {
        .company {
          font-size: 20px;
          line-height: 24px;
        }

        .position {
          font-size: 16px;
          line-height: 22px;
          color: #525252;
        }

        .working-period {
          color: dimgrey;
        }
      }
    }

    .programing-skill {
      background: linear-gradient(352deg, #bdbdb1 20%, #dcd8cb 20%);
      padding: 2em 2em;
      display: grid;
      justify-content: center;
      grid-template-columns: minmax(300px, 900px);
      transition: transform 0.5s;
      .programing-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 100%;
        justify-content: center;
        column-gap: 15px;

        .skill-list {
          display: inline-flex;
          align-items: center;
          height: 35px;
         
          &:hover {
            .skill-lang {
                color: $primaryColor1;
                transition: 0.5s;
            }
            .skill-bar .skill-point {
              transition: 0.5s;
              background-color: $primaryColor1;
              transform: scale(1.02);
            }
          }
          .skill-lang {
            width: 100px;
            font-size: 18px;
          }

          .skill-bar {
            height: 20px;
            width: calc(100% - 100px);
            background-color: #ffffff;
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 4px;
            box-shadow: $box-shadow;
            margin-left: 3em;

            .skill-point {
              position: absolute;
              z-index: 1;
              // width: 80%;
              height: 100%;
              background-color: $bodyBg;
              border-radius: 4px;
              animation-delay: 10s;
              animation: bar-move 1s linear;
            }
          }
        }
      }

      &:hover {
        .timeline-header .header-bg-icon {
          @include scale-size;
        }
      }
    }
    .memo-area {
      background-color: #bdbdb1;
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr;
      grid-template-rows: 80px 1fr;
      .memo-header {
        color: #fff;
        font-size: 28px;
        text-align: center;
        border-top: 1px solid;
        border-bottom: 8px double;
        width: 230px;
        height: 60px;
        display: flex;
        justify-self: center;
        justify-content: center;
        align-items: center;
      }

      .memo-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 30px;
        row-gap: 30px;
        padding: 30px;
      }
    }
  }

  .main-footer {
    background: #bdbdb1;
    background: linear-gradient(
      173deg,
      #bdbdb1 45%,
      rgba(220, 216, 203, 1) 45%
    );
  }
}
/// -----------------------------  button
button.gotoWeb {
  width: 190px;
  height: 60px;
  border-radius: 35px;
  background-color: #f5e0cd;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 1s, border 0.4s 0.7s, box-shadow 0.6s;
  border: 6px solid #e4d1c3;
  padding: 0px 50px;
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
  cursor: pointer;
  .wordHide {
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.4s 0.5s;
    display: inline-block;
  }

  &:hover {
    padding: 0px;
    width: 230px;
    border: 5px solid #fff;
    box-shadow: 2px 4px 6px 0px #e4e4e4;
    background-color: #706e68;
    color: #fff;
    font-size: 20px;
    .wordHide {
      transform: translateX(0px);
      opacity: 1;
      display: inline-block;
      color: #fff;
    }
  }

  &:focus {
    outline: 0;
  }
}

.about-me {
  font-size: 16px;
  color: $primaryColor1;
  border: 2px solid;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 2em;
}

.icon-and-text {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 5px;
  .material-icons {
    color: $primaryColor1;
  }
}
@mixin profie-area {
  .main-container .main-body .profile-area {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .details {
      border-bottom: 2px dashed #b56d37;
    }
  }
}

// mobile
@media screen and (max-width: 575px) {
  @include profie-area;
}

// size = p-sm (ipad mini)
@media screen and (min-width: 576px) and (max-width: 767px) {
  @include profie-area;
}

// size = p-md (ipad mini)
@media screen and (min-width: 768px) and (max-width: 991px) {
  @include profie-area;
}

// size = p-lg (laptop, ipad pro)
@media screen and (min-width: 992px) and (max-width: 1199px) {
}

// size = p-xl (laptop)
@media screen and (min-width: 1200px) and (max-width: 1700px) {
}

@media screen and (max-width: 1500px) {
}
// more than labtop
@media screen and (min-width: 1701px) {
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.timeline-header {
  margin-left: 15px;
  display: flex;
  align-items: center;
  column-gap: 10px;

  .header-bg-icon {
    color: #fff;
    font-size: 30px;
    background-color: $primaryColor1;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $box-shadow;
  }
}

.timeline-steps {
  ul {
    list-style-type: none;
    padding: 0;
    li {
      position: relative;
      margin-left: 15px;
      padding-left: 25px;
      padding-bottom: 15px;
      max-width: 600px;
    }
    li::before {
      content: "";
      width: 10px;
      height: 10px;
      left: -2px;
      display: block;
      position: absolute;
      border: 3px solid $primaryColor1;
      background: #fcfcfc;
      border-radius: 50%;
      z-index: 1;
    }

    li::after {
      content: "";
      display: block;
      position: absolute;
      width: 3px;
      height: 100%;
      background: $primaryColor1;
      left: 5px;
      top: 0;
    }
  }

  &:hover {
    .timeline-header .header-bg-icon {
      @include scale-size;
    }
  }
}

.card {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 24px;
  box-shadow: $box-shadow;
  border-radius: 4px;
}
