/* You can add global styles to this file, and also import other style files */
@import "assets/styles/icon.scss";
@import "assets/styles/custom-theme.scss";
@import "assets/font/font.scss";

$primaryColor1: #b56d37;

$bodyBg: #706e68;
$box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

:root {
  body.darkMode {
    --header-linear: linear-gradient(
      130deg,
      #200700,
      #564739 41.07%,
      #706e68 76.05%
    );

    --bgColor: #202020;
    --color: #FFF;
    --header-shadow: 6px 5px 5px #eaeaea00;
  }

  body:not(.darkMode) {
    --header-linear: linear-gradient(
      130deg,
      #c4593d,
      #f5e0cd 41.07%,
      #706e68 76.05%
    );

    --bgColor: #dcd8cb;
    --color: #000000;
    --header-shadow: 6px 5px 5px #eaeaea45;
  }
}

// body.darkMode {
//   $bgColor: #000000;
//   $header-linear: linear-gradient(
//     130deg,
//     #200700,
//     #564739 41.07%,
//     #706e68 76.05%
//   );
// }

// body:not(.darkMode) {
//   $bgColor: #dcd8cb;
//   $header-linear: linear-gradient(
//     130deg,
//     #c4593d,
//     #f5e0cd 41.07%,
//     #706e68 76.05%
//   );
// }

@mixin scale-size {
  .timeline-header .header-bg-icon {
    transform: scale(1.2);
    transition: transform 0.5s;
  }
}

@mixin collapseOrfull {
  // height: 600px;
  position: absolute;
  content: "";
  // background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
  // linear-gradient(130deg, #c4593d, #f5e0cd 41.07%, #706e68 76.05%);
  background: var(--header-linear);
  background-size: 100%;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  transition: height 0.5s;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 65%,
    1% 64.95%,
    2% 64.8%,
    3% 64.6%,
    4% 64.3%,
    5% 63.9%,
    6% 63.45%,
    7% 62.9%,
    8% 62.25%,
    9% 61.55%,
    10% 60.8%,
    11% 59.95%,
    12% 59.05%,
    13% 58.1%,
    14% 57.1%,
    15% 56.05%,
    16% 55%,
    17% 53.9%,
    18% 52.8%,
    19% 51.65%,
    20% 50.5%,
    21% 49.35%,
    22% 48.2%,
    23% 47.05%,
    24% 45.9%,
    25% 44.8%,
    26% 43.75%,
    27% 42.75%,
    28% 41.75%,
    29% 40.8%,
    30% 39.9%,
    31% 39.1%,
    32% 38.35%,
    33% 37.65%,
    34% 37.05%,
    35% 36.5%,
    36% 36.05%,
    37% 35.65%,
    38% 35.35%,
    39% 35.15%,
    40% 35.05%,
    41% 35%,
    42% 35.05%,
    43% 35.2%,
    44% 35.45%,
    45% 35.75%,
    46% 36.15%,
    47% 36.65%,
    48% 37.2%,
    49% 37.85%,
    50% 38.55%,
    51% 39.35%,
    52% 40.2%,
    53% 41.1%,
    54% 42.05%,
    55% 43.05%,
    56% 44.1%,
    57% 45.15%,
    58% 46.3%,
    59% 47.4%,
    60% 48.55%,
    61% 49.7%,
    62% 50.85%,
    63% 52%,
    64% 53.15%,
    65% 54.25%,
    66% 55.35%,
    67% 56.4%,
    68% 57.45%,
    69% 58.4%,
    70% 59.35%,
    71% 60.2%,
    72% 61.05%,
    73% 61.8%,
    74% 62.45%,
    75% 63.05%,
    76% 63.6%,
    77% 64.05%,
    78% 64.4%,
    79% 64.7%,
    80% 64.85%,
    81% 65%,
    82% 65%,
    83% 64.9%,
    84% 64.75%,
    85% 64.5%,
    86% 64.2%,
    87% 63.75%,
    88% 63.25%,
    89% 62.7%,
    90% 62.05%,
    91% 61.3%,
    92% 60.5%,
    93% 59.65%,
    94% 58.75%,
    95% 57.8%,
    96% 56.8%,
    97% 55.75%,
    98% 54.65%,
    99% 53.55%,
    100% 52.4%
  );
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@keyframes slide {
  from {
    background-position-y: bottom;
  }
  to {
    background-position-y: top;
  }
}

@keyframes bar-move {
  0% {
    width: 0%;
    animation-play-state: running;
  }

  100% {
    animation-play-state: paused;
  }
}

.bar-move {
  animation: bar-move 1s linear;
}

html,
body {
  height: 100%;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
  background-color: var(--bgColor);
  min-height: 100vh;
  height: 100%;
}

@mixin profile-picture-area {
  background-color: #e4e0d4;
  border: 3px solid #fff;
  position: relative;
  height: 100%;
  .cornor-top-left {
    @include cornor-style();
    top: -10px;
    left: -10px;
  }

  .cornor-top-right {
    @include cornor-style();
    transform: rotate(90deg);
    top: -10px;
    right: -10px;
  }

  .cornor-bottom-left {
    @include cornor-style();
    transform: rotate(-90deg);
    bottom: -10px;
    left: -10px;
  }

  .cornor-bottom-right {
    @include cornor-style();
    transform: rotate(180deg);
    bottom: -10px;
    right: -10px;
  }
}

@mixin cornor-style {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #e4e0d4;
  border-left: 10px solid #fff;
  border-top: 10px solid #fff;
  border-top-left-radius: 10px;
}

.mode {
  position: absolute;
  z-index: 3;
  right: 0;
  margin: 1em;
  display: inline-flex;
  column-gap: 10px;
}

.logo {
  width: 70px;
  height: 70px;
  font-weight: 500;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home-page-container {
  display: grid;
  grid-template-areas:
    "home-page-header home-page-header"
    "present-word profile-picture"
    "home-page-footer home-page-footer";
  grid-template-columns: 300px minmax(200px, 300px);
  grid-template-rows: 1fr minmax(300px, 500px) 2fr;
  justify-content: center;
  padding: 20px;
  align-content: center;
  height: 100%;
  .home-page-header {
    grid-area: home-page-header;
    display: flex;
    justify-content: flex-end;
  }

  .present-word {
    grid-area: present-word;
  }

  .profile-picture {
    grid-area: profile-picture;
    @include profile-picture-area;
  }

  .home-page-footer {
    grid-area: home-page-footer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr 200px;
  height: 100%;
  justify-content: center;
  position: relative;
  transition: 0.2s;

  &:not(.collapse) {
    .main-header {
      font-size: clamp(80px, 20vw, 190px);
    }
    &:after {
      @include collapseOrfull;
      height: 600px;
    }
  }

  &.collapse {
    &:after {
      @include collapseOrfull;
      height: 100px;
    }
  }

  .main-header {
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-items: center;
    // background-color: transparent;
    color: #0000004d;
    background-color: #000;
    text-shadow: var(--header-shadow);
    z-index: 1;
    background-image: url("~assets/images/header-bg.jpg");
    background-attachment: fixed;
    background-size: 800px 800px;
    -webkit-background-size: 800px 800px;
    background-repeat: repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: slide 10s linear infinite alternate;
  }

  .main-body {
    display: grid;
    grid-template-rows:
      200px 1fr minmax(250px, max-content) minmax(250px, max-content)
      minmax(370px, max-content);
    row-gap: 3vh;
    .profile-area {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(
        auto-fit,
        minmax(350px, 450px) minmax(450px, 1000px)
      );
      padding-left: 2em;
      padding-right: 2em;
      .profile-picture {
        @include profile-picture-area;
        background-color: #e4e0d4;
        border: 3px solid #fff;
        position: relative;
        height: 327px;
        width: 250px;
        display: flex;
        margin: auto;
      }

      .profile-details {
        display: grid;
        align-content: center;
        .details {
          margin: 2em 0;
          padding-left: 10px;
          padding-bottom: 2em;
          max-width: 300px;
          margin: 2em auto;
        }
      }

      .profile-experiences {
        .company {
          font-size: 20px;
          line-height: 24px;
        }

        .position {
          font-size: 16px;
          line-height: 22px;
          color: #525252;
        }

        .working-period {
          color: dimgrey;
        }
      }
    }

    .programing-skill {
      // background-color: $bgColor;
      padding: 10px 10px;
      display: grid;
      justify-content: center;
      grid-template-columns: minmax(auto, 900px);
      transition: transform 0.5s;
      align-items: center;

      .programing-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 100%;
        justify-content: center;
        column-gap: 15px;

        &.animation-barmove .skill-bar .skill-point {
          animation: bar-move 1s linear;
        }

        .skill-list {
          display: inline-flex;
          align-items: center;
          height: 35px;

          &:hover {
            .skill-lang {
              color: $primaryColor1;
              transition: 0.5s;
            }
            .skill-bar .skill-point {
              transition: 0.5s;
              background-color: $primaryColor1;
              transform: scale(1.02);
            }
          }
          .skill-lang {
            width: 100px;
            font-size: 18px;
          }

          .skill-bar {
            height: 20px;
            width: calc(100% - 100px);
            background-color: #ffffff;
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 4px;
            box-shadow: $box-shadow;
            margin-left: 3em;

            .skill-point {
              position: absolute;
              z-index: 1;
              height: 100%;
              background-color: $bodyBg;
              border-radius: 4px;
            }
          }
        }
      }

      &:hover {
        @include scale-size;
      }
    }

    .tools-and-framework {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(auto, 600px));
      column-gap: 3em;
      row-gap: 3em;
      padding: 2em 2em;
      justify-content: center;

      .container-tools {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-items: center;
        align-items: center;
        row-gap: 2vh;
        column-gap: 1vw;
        height: auto;

        .tools-image {
          position: relative;
          width: 100%;
          height: 100%;
          padding: 1em;
          background-color: #bdbdb1;
          border-radius: 4px;
          display: grid;
          align-items: center;
          justify-content: center;
          justify-items: center;
          box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
            0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
          transition: height 0.5s;
          img {
            height: 50px;
            width: auto;
          }

          .name {
            font-size: 12px;
            font-weight: bold;
            // transform: translateY(20%);
            // transition-delay: 2s;
            // transition: transform  0.5s;
            // opacity: 0;
            // position: absolute;
          }

          &:hover {
            // transform: scale(1.1);
            height: calc(100% + 10px);
            padding: 10px;
            align-items: flex-start;
            .name {
              opacity: 1;
              bottom: 5px;
              transform: translateY(0%);
            }
          }
        }
      }
    }

    .memo-area {
      background-color: #7e7d76;
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 70px;
      margin-top: 100px;
      // padding: 2em 2vw;

      .memo-space {
        background-color: #686762;
      }


      .memo-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 600px));
        justify-content: center;
        align-self: center;
        column-gap: 2vw;
        row-gap: 1em;
        padding: 2em 0;

        .group-text {
          display: flex;
          align-self: center;
          justify-self: center;
          flex-direction: column;
          width: max-content;
          text-align: center;
          position: relative;

          span:nth-child(1) {
            font-size: 4rem;
            line-height: 3rem;
            color: #3e3d38;
          }
          span:nth-child(2) {
            font-size: 2rem;
            line-height: 2rem;
            color: #3e3d38;
          }
        }

        .group-details {
          justify-content: center;
          display: grid;
          grid-template-columns: repeat(auto-fit, 250px);
          row-gap: 1em;
          .qr-code {
            display: flex;
            justify-self: center;
            height: 120px;
            width: 120px;
            cursor: pointer;
          }
          .link {
            display: grid;
            grid-template-columns: 1fr 2fr;
            row-gap: 10px;
            column-gap: 10px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            text-decoration: none;
            img {
              background-color: #fff;
              border-radius: 100%;
              width: 40px;
              height: 40px;
            }
          }
        }

        .memo-content-card {
          display: grid;
          height: 100px;
          grid-template-rows: 2fr 1fr;
          overflow: hidden;
          border-radius: 4px;
          box-shadow: $box-shadow;

          .img {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #bdbdb1;
            img {
              width: 80%;
              height: auto;
            }
          }

          .text {
            background-color: #fff;
          }
        }
      }
    }
  }

  .main-footer {
    // background: #bdbdb1;
    // background: linear-gradient(
    //   173deg,
    //   #bdbdb1 45%,
    //   rgba(220, 216, 203, 1) 45%
    // );
  }
}
/// -----------------------------  button
button.gotoWeb {
  width: 190px;
  height: 60px;
  border-radius: 35px;
  background-color: #f5e0cd;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 1s, border 0.4s 0.7s, box-shadow 0.6s;
  border: 6px solid #e4d1c3;
  padding: 0px 50px;
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
  cursor: pointer;
  .wordHide {
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.4s 0.5s;
    display: inline-block;
  }

  &:hover {
    padding: 0px;
    width: 230px;
    border: 5px solid #fff;
    box-shadow: 2px 4px 6px 0px #e4e4e4;
    background-color: #706e68;
    color: #fff;
    font-size: 20px;
    .wordHide {
      transform: translateX(0px);
      opacity: 1;
      display: inline-block;
      color: #fff;
    }
  }

  &:focus {
    outline: 0;
  }
}

.about-me {
  font-size: 16px;
  color: $primaryColor1;
  border: 2px solid;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 2em;
}

.icon-and-text {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 5px;
  .material-icons {
    color: $primaryColor1;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto;
  color: var(--color);
}

.timeline-header {
  margin-left: 15px;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  column-gap: 10px;

  .header-bg-icon {
    color: #fff;
    font-size: 30px;
    background-color: $primaryColor1;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $box-shadow;
  }
}

.timeline-steps {
  ul {
    list-style-type: none;
    padding: 0;
    li {
      position: relative;
      // margin-left: 15px;
      // padding-left: 25px;
      padding-bottom: 15px;
      width: auto;
    }
    // li::before {
    //   content: "";
    //   width: 10px;
    //   height: 10px;
    //   left: -2px;
    //   display: block;
    //   position: absolute;
    //   border: 3px solid $primaryColor1;
    //   background: #fcfcfc;
    //   border-radius: 50%;
    //   z-index: 1;
    // }

    // li::after {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   width: 3px;
    //   height: 100%;
    //   background: $primaryColor1;
    //   left: 5px;
    //   top: 0;
    // }
  }

  &:hover {
    // .timeline-header .header-bg-icon {
    @include scale-size;
    // }
  }
}

.card {
  // width: 100%;
  padding: 10px 24px;
  &:hover {
    @include scale-size;
  }
  // border-radius: 4px;
}

.card-edu {
  padding: 10px 24px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: $box-shadow;
  color: #000;
}

// clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);

@mixin main-body {
  // .main-container:not(.collapse) {
  //   grid-template-rows: 250px 1fr 200px;
  //   &:after {
  //     height: 800px;
  //   }
  // }
}

@mixin profie-area {
  .main-container .main-body .profile-area,
  .main-container .main-body .tools-and-framework {
    padding: 0 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    .details {
      border-bottom: 2px dashed $primaryColor1;
    }
  }
}

@mixin tools-area {
  .main-container .main-body .tools-and-framework {
    padding: 0 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    height: fit-content;
    row-gap: 1em;
  }
}

@mixin tools-container {
  .main-container
    .main-body
    .tools-and-framework
    .container-tools
    .tools-image {
    display: flex;
    .name {
      font-size: 12px;
      transform: translateY(20%);
      transition-delay: 2s;
      transition: transform 0.5s;
      opacity: 0;
      position: absolute;
    }
  }
}

@mixin timeline-step-li {
  .timeline-steps ul li {
    margin-left: 15px;
    padding-left: 25px;
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      left: -2px;
      display: block;
      position: absolute;
      border: 3px solid $primaryColor1;
      background: #fcfcfc;
      border-radius: 50%;
      z-index: 1;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 3px;
      height: 100%;
      background: $primaryColor1;
      left: 5px;
      top: 0;
    }
  }
}
@mixin card {
  .card {
    padding: 0px;
  }
}

// mobile
@media screen and (max-width: 575px) {
  @include profie-area;
  @include tools-area;
  @include card;

  .logo {
    display: none;
  }
}

// size = p-sm (ipad mini)
@media screen and (min-width: 576px) and (max-width: 767px) {
  @include profie-area;
  @include tools-area;
  @include card;
  .logo {
    display: none;
  }
}

// size = p-md (ipad mini)
@media screen and (min-width: 768px) and (max-width: 991px) {
  @include profie-area;
  @include tools-area;
  @include card;
}

// size = p-lg (laptop, ipad pro)
@media screen and (min-width: 992px) and (max-width: 1199px) {
  @include tools-container;
  @include main-body;
  @include timeline-step-li;
}

// size = p-xl (laptop)
@media screen and (min-width: 1200px) and (max-width: 1700px) {
  @include tools-container;
  @include main-body;
  @include timeline-step-li;
}

// more than labtop
@media screen and (min-width: 1701px) {
  @include tools-container;
  @include main-body;
  @include timeline-step-li;
}
