
<!-- <div class="home-page-container">
        <div class="home-page-header">
            <div class="logo">
                PL<br>
                OY
            </div>
        </div>
        <div class="present-word">

        </div>
        <div class="profile-picture">
            <div class="cornor-top-left"></div>
            <div class="cornor-top-right"></div>
            <img src="assets/images/person-home-page.jpg" width="100%" height="100%">
            <div class="cornor-bottom-left"></div>
            <div class="cornor-bottom-right"></div>
        </div>
        <div class="home-page-footer">
            <button class="gotoWeb">
                Read more  
                <span  class="wordHide"> Go </span>
            </button>
        </div>
</div> -->

<div class="landing">
    <div>Welcome </div>
    <div>To my Portfolio </div>
</div>